<style>
	.gopay_logo img { display: inline-block; margin: 10px; }
</style>
<div style="text-align: center" class="gopay_logo">
	<div class="alert alert-warning" role="alert"><%= Spree.t "spree_gopay_integration.checkout_info" %></div>
	<a  style="display: inline-block" href="https://www.gopay.com" target="_blank"><%= image_tag "spree_gopay_integration/gopay.png" %></a><br />
	<%= image_tag "spree_gopay_integration/3ds_visa.png" %><%= image_tag "spree_gopay_integration/3ds_mastercard.png" %><br />
	<%= image_tag "spree_gopay_integration/visa.png" %><%= image_tag "spree_gopay_integration/visae.png" %><%= image_tag "spree_gopay_integration/mastercard.png" %><%= image_tag "spree_gopay_integration/mastercarde.png" %><%= image_tag "spree_gopay_integration/maestro.png" %> <br />
	<%= image_tag "spree_gopay_integration/bank.png" %><%= image_tag "spree_gopay_integration/supercash.png" %>
</div>